// Normalize
// ==========================================================================
// Correct the font size and margin on `h1` elements within `section` and
// `article` contexts in Chrome, Firefox, and Safari.
h1,
h2,
h3,
h4 {
  font-family: $font-base;
  font-weight: 700;
}

h1 {
  color: #fff;
  font-size: calc(#{$font-size} * 2);

  @include query(624px) {
    font-size: calc(#{$font-size} * 3);
  }
}

h2 {
  border-left: 8px solid $color-base;
  font-size: calc(#{$font-size} * 1.5);
  line-height: 1.2;
  margin: $space-out-large $space-out-small;
  padding-left: 10px;

  @include query(400px) {
    font-size: calc(#{$font-size} * 2.2);
  }
}

h3 {
  font-size: calc(#{$font-size} * 1.3);

  @include query(400px) {
    font-size: calc(#{$font-size} * 1.8);
  }
}

h4 {
  font-size: calc(#{$font-size} * 1.1);
}

h5 {
  font-size: $font-size;
}
